@page "/authentication/login-callback"
@using Applet.Nat.Ux
@using Applet.Nat.Ux.Models
@using Microsoft.Extensions.Primitives
@using Newtonsoft.Json
@using Nat.Ux.Properties
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IConfiguration Configuration
@inject State ioState
@inject IDialogService DialogService

<PageTitle>@Resources.lioL_login</PageTitle>
<div class="nat-page">
    <div class="nat-logincallback-content">
        <img src="./nat.png" class="nat-logo" />
        <div class="nat-loginusrpass-container">
            <span class="nat-text1N">@Resources.lioL_login</span>
            <div class="nat-usrpass-container">
                @mivstrLoginMessage
            </div>
        </div>

    </div>
</div>


@code {
    private string mivstrLoginMessage { get; set; }
    protected override void OnInitialized()
    {
        mivstrLoginMessage = "Validando Credenciales...";
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ioState.LoadStatics(true);
            Uri lioUri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
            Dictionary<string, Microsoft.Extensions.Primitives.StringValues> lcoQParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(lioUri.Query);
            if (lcoQParams.TryGetValue("error", out var lioError))
                throw new Exception($"{Resources.lioE_OIDC}: {lioError}");
            if (!lcoQParams.TryGetValue("code", out StringValues lioCode) || !lcoQParams.TryGetValue("state", out StringValues lioState))
                throw new Exception($"{Resources.lioE_OIDC}: code or state invalid");
            await ioState.GetToken(lioCode.ToString(), lioState.ToString());
            LoginResponse lioLoginResponse = await ioState.Post<LoginResponse>(
                    EAuthType.UserAndPass,
                    $"0:0",
                    "OidcState",
                    new OidcRequest
                    {
                        ivnroType = (short)eOidcRequestType.GetUser,
                        ivstrToken = ioState.ivstrToken,
                    }
                );
            ioState.Login(lioLoginResponse);
            NavigationManager.NavigateTo("Docs/0");
        }
        catch (Exception lioE)
        {
            mivstrLoginMessage = lioE.Message + " " + lioE.InnerException?.Message;
        }
    }

}
