@page "/authentication/login-callback"
@using Applet.Nat.Ux
@using Applet.Nat.Ux.Models
@using Microsoft.IdentityModel.Tokens
@using Newtonsoft.Json
@using Nat.Ux.Properties
@using System.IdentityModel.Tokens.Jwt
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IConfiguration Configuration
@inject State ioState
@inject IDialogService DialogService

<PageTitle>@Resources.lioL_login</PageTitle>
<div class="nat-page">
    <div class="nat-login-content">
        <img src="./nat.png" class="nat-logo" />
        <div class="nat-loginusrpass-container">
            <span class="nat-text1N">@Resources.lioL_login</span>
            <div class="nat-usrpass-container">
                @mivstrLoginMessage
            </div>
        </div>

    </div>
</div>


@code {
    private string mivstrLoginMessage { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ioState.getStatics(Configuration, 0);
            _ = ioState.getStatics(Configuration, 1);
            Uri lioUri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
            await ioState.ProcessCallBack(lioUri);
            NavigationManager.NavigateTo("Docs/0");
        }
        catch (Exception lioE)
        {
            mivstrLoginMessage=lioE.Message;

        }
    }

}
